.header {
    grid-column: 1 / -1;

    display: flex;

    position: relative;

    @media only screen and (max-width: 768px) {
        grid-row: 1 / 2;
        height: 65vh;

        display: grid;
        position: unset;
        grid-template-columns:repeat(8, 1fr);
        grid-template-rows: repeat(6, min-content);
    }

    &__logo {
        
        flex: 50% 0 0;

        @media only screen and (max-width: 768px) {
            flex: unset;
            grid-column: 1 / 3;
            grid-row: 1 / 2;
            z-index: 1000;
            padding: 2rem 0 0 2.5rem;
        }
        &--shape {
            transform: scale(.03);

            @media only screen and (max-width: 768px) {
                transform: scale(.035);
            }

            @media only screen and (max-width: 400px) {
                transform: scale(.03);
            }
        }

        &--text {
            transform: scale(.03);

            @media only screen and (max-width: 768px) {
                transform: scale(.035);
                fill: #fff;
            }

            @media only screen and (max-width: 400px) {
                transform: scale(.03);
            }
        }

    }

    &__social-icons {
        flex: 50% 0 0;
        height: 40px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        & > *:not(:first-child) {
            margin-left: 20%;

            @media only screen and (max-width: 768px) {
                margin-right: 15%;
            }
        }

        @media only screen and (max-width: 768px) {
            flex: unset;
            display: unset;
            justify-content: unset;
            align-items: unset;
            height: unset;

            grid-column: 6 / 9;
            grid-row: 1 / 2;
            z-index: 1500;
        }
    }

    &__icon-link {
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;

        @media only screen and (max-width: 768px) {
            margin-top: 10%;
        }
    }

    &__icon {
        font-size: 2.5rem;
        color: hsl(243, 87%, 12%);

        @media only screen and (max-width: 768px) {
            color: #fff;
            align-self: center;

        }

        @media only screen and (max-width: 400px) {
            font-size: 2rem;
        }
    }

    &__intro {
        height: 0;
        width: 0;
        visibility: hidden;
        opacity: 0;
        
        @media only screen and (max-width: 768px) {
            height: unset;
            width: unset;
            visibility: visible;
            opacity: 1;
            grid-column: 1 / -1;
            grid-row: 1 / -1;
            transform: scale(2.1);
            transform-origin: left;
        }

        @media only screen and (max-width: 600px) {
            transform: scale(1.8);
        }

        @media only screen and (max-width: 500px) {
            transform: scale(1.5);
        }

        @media only screen and (max-width: 400px) {
            transform: scale(1.2);
        }

        @media only screen and (max-width: 375px) {
            transform: scale(1);
            transform-origin: 0;
            // margin-top: -20%;
        }
    }

    &__illustration-box {
        display: none;

        @media only screen and (max-width: 768px) {
            display: unset;
            position: absolute;
            top: 28%;
            left: 48%;
            transform: translate(-50%, -50%);
        }

    }

    &__illustration {
        width: 115%;
    }
}
    .fylo {
        grid-column: 1 / -1;
        
        display: grid;
        grid-template-rows: minmax(min-content,max-content);
        grid-row-gap: 2rem;

        @media only screen and (max-width: 768px) {
            display: unset;
            grid-template-rows: unset;
            grid-row-gap: unset;
            grid-column: 1 / -1;
            grid-row: 2 / 3;
            padding: 2rem 6rem;
            line-height: 1.4;

        }

       
        &__heading {
            font-size: 3.5rem;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            color: hsl(243, 87%, 12%);

            @media only screen and (max-width: 768px) {
                font-size: 4rem;
            }
        }
    
        &__text {
            font-family: 'Open Sans';
            font-weight: 400;
            color: hsl(0, 0%, 50%);
            font-size: 1.5rem;
            align-self: start;

            @media only screen and (max-width: 768px) {
                font-size: 2rem;
                margin: 3rem 0 6rem 0;
            }
        }
    
        &__form {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-column-gap: 1.5rem;
            font-family: 'Raleway';

            @media only screen and (max-width: 768px) {
                display: unset;
                
            }
        }
    
        &__form-name {
            display: block;
            font-size: 2.5rem;
            font-weight: 700;

            @media only screen and (max-width: 768px) {
                font-size: 3rem;
            }
        }
    
        &__form-input,
        &__form-submit {
            border: none;
            border-radius: 4px;
            height: 6rem;
            box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);

            @media only screen and (max-width: 768px) {
                display: unset;
                margin: 2rem 0;
                box-shadow: none;
            }
    
        }
    
        &__form-input {
            grid-column: 1 / 2;

            @media only screen and (max-width: 768px) {
                display: block;
                width: 100%;
                border: 1px groove rgba(0, 0, 0, .1);
            }
        }
    
        &__form-submit {
            background-color: hsl(163, 95%, 43%);
            color: #fff;
            font-size: 2rem;
            font-weight: 700;

            @media only screen and (max-width: 768px) {
                display: block;
                width: 45%;
                font-size: 2.5rem;
            }
        }
    }
    
    .footer {
        grid-column: 1 / -1;
        align-self: center;
        text-align: center;
    
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 3fr;
        grid-row-gap: 2rem;

        @media only screen and (max-width: 768px) {
            padding: 1rem 6rem 2rem 6rem;
            line-height: 1.4;
            
        }
    
        &__privacy {
            font-size: 1.5rem;
            font-family: 'Raleway', sans-serif;
            grid-column: 4 / 5;
            grid-row: 2 / 3;
            justify-self: end;
            align-self: end;

        @media only screen and (max-width: 768px) {
            grid-row: 3 / 4;
            }
        }
    }